/*/////////////////////////////////////////////////////////*/
/*CSS RPG Friend Finder*/
/*/////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////*/
/*General*/
/*/////////////////////////////////////////////////////////*/
/*Child percentage heights are a percentage of their parent
These are set to 100% as they are the top most parent elements*/
html, body
{
    height: 100%;
}

*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html
{
    font-family: sans-serif;
    font-size: 10px;

    /*This allows users to zoom, but doesn't change text size*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    /*Sets highlight of link being tapped*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiazing;

	background:#514a42;
}

img
{
    width: 100%;
    height: 100%;
    max-width: 100% !important;

    border: 0;
    page-break-inside: avoid;
    vertical-align: middle;
}

button
{
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;

    margin: 0;

    color: inherit;
    overflow: visible;

    /*Remove any browser added css*/
    -webkit-appearance: button;
    cursor: pointer;
}
/*Remove some Firefox specific mark-up spacing*/
button::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

a
{
    text-decoration: none;
    background: transparent;
}
a,
a:hover,
a:focus,
a:active
{
    text-decoration: none;
    /*
    border: 0;
    outline: 0;
    */
}

textarea
{
   resize: none;
}

b
{
	font-weight:bold;
}

/*/////////////////////////////////////////////////////////*/
/*Fonts + Glyphs*/
/*/////////////////////////////////////////////////////////*/
@font-face
{
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

.af
{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.af_home:before
{
    content: "\f015";
}

.af_profile:before
{
    content: "\f007";
}

.af_games:before
{
    content: "\f286";
}

.af_players:before
{
    content: "\f0c0";
}

.af_check:before
{
    content: "\f00c";
}

.af_ex:before
{
    content: "\f00d";
}

.af_bigcheck:before
{
    content: "\f00c";
    font-size: 18px;
}

.af_bigex:before
{
    content: "\f00d";
    font-size: 18px;
}

.af_nomessages:before
{
    content: "\f2b7";
}

.af_newmessages:before
{
    content: "\f0e0";
}

/*/////////////////////////////////////////////////////////*/
/*Header*/
/*/////////////////////////////////////////////////////////*/
.header
{
    /*'display: block' elements don't allow elements to be side by side with them (unless floating)*/
    display: block;
    height: 90px;
    min-height: 90px;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;

    padding-top: 20px;
    margin-bottom: 20px;

    background: #000;

    /*This transform is to potentially GPU to render the element smoother/faster*/
    -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.headercontainer
{
    height: 100%;
    width: 100%;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.headertoggle
{
    position: relative;
    float: right;
    width: 45px;
    height: 35px;

    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;

    background-color: transparent;

    border: 1px solid #444;
    border-radius: 4px;
}
.headertoggle:hover
{
    outline: 0;
    background-color: #444;
}
@media (min-width: 768px)
{
    .headertoggle
    {
        display: none;
    }
}
.headertogglehighlight
{
    background-color: #444;
}

.icon-bar
{
    display: block;
    width: 22px;
    height: 2px;

    background-color: #fff;

    border-radius: 1px;
}
.icon-bar + .icon-bar
{
    margin-top: 4px;
}

.headerlogo
{
    width: 95px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.headermenu
{
    display: none;
    height: auto;
    min-height: 40px;

    overflow-x: visible;
    -webkit-overflow-scrolling: touch;

    border-top: 1px solid transparent;
    border-color: #101010;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px)
{
    .headermenu
       {
        display: block !important;
        height: auto !important;
        max-height: 340px;
        width: auto;

        padding: 0;
        margin: 0;
        float: right !important;

        overflow: visible !important;

        border-top: 0;
        -webkit-box-shadow: none;
            box-shadow: none;
    }
}

.headermenuitem
{
    position: relative;
    display: block;
}
@media (min-width: 768px)
{
    .headermenuitem
    {
        float: left;
    }
}

.headerlink
{
    position: relative;
    display: block;
    padding: 15px 15px;
    color: #888;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.headerlink:hover
{
    text-decoration: none;
    background-color: #eee;
    color: #fff;
    background-color: transparent;
}

.headername
{
    color: lightblue;
    cursor: default;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.headerdropdown
{
    display: none;

    position: relative;
    width: auto;

    background:#000;

    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.dropdown_visible
{
    display: block;
}

.dropdownbutton
{
    width: 100%;
    position: relative;
    display: block;
}
@media (min-width: 768px)
{
    .dropdownbutton
    {
        display: none;
    }
}

.headerlogin
{
    display: none;
    position: relative;
    overflow: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;

    border-top: 1px solid #444;
    border-bottom: 1px solid #444;

    background: black;
}
.headerloginvisable
{
    display: block;
}
@media (max-width: 768px)
{
    .headerlogin
       {
        display: none;
    }
}

.login
{
    float: right;
    vertical-align: center;
}

.logintext
{
    display: inline-block;
    color: #888;
    padding-left: 8px;
    vertical-align: center;
}

.logininput
{
    padding-right: 8px;
}

.loginbutton
{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom:2px;

    margin-left: 8px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;

    background-color: black;
    color: #888;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loginbutton:hover
{
    color: #fff;
    border-color: #fff;
}

.headerloginerror
{
    display: inline-block;
    float: right;
    width: 100%;

    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 12px;

    text-align: right;
    color: #888;
}

.dropdownlogin
{
    display: none;
    position: relative;
    height: auto;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;

    border-top: 1px solid #444;
}
.dropdownloginvisable
{
    display: block;
}
@media (min-width: 768px)
{
    .dropdownlogin
    {
        display: none;
    }
}

.dropdownlogintext
{
    display: block;
    float: left;
    width: 100%;

    color: #888;
}

.dropdownlogininput
{
    float: left;
    width: 100%;

    margin-top: 2px;
    margin-bottom: 8px;
}

.dropdownloginerror
{
    display: inline-block;
    float: right;
    width: 100%;

    padding-top: 0px;
    padding-bottom: 2px;

    text-align: left;
    color: #888;
}

.dropdownloginbutton
{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 3px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;

    background-color: black;
    color: #888;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdownloginbutton:hover
{
    color: #fff;
    border-color: #fff;
}

/*/////////////////////////////////////////////////////////*/
/*Splash*/
/*/////////////////////////////////////////////////////////*/

.splash
{
    background: url('../img/dice_bg.jpg');
    background-size: cover;
    min-height: 100%;
    margin-top: 90px;
}

.splashcaption
{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 250px;
}

.splashtitle
{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.splashsubtitle
{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
}

.joinbutton
{
    display: inline-block;

    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;

    padding: 10px 16px;
    line-height: 1.33;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

    border-radius: 6px;
    background: orange;
    color: #fff;
    border: 1px solid #fff;
}
.joinbutton:hover
{
    background: #162896;
    color: #fff;
    border: 1px solid #fff;
}
.joinbuttoninvisable
{
    display: none;
}

.signup
{
    display: none;
    width: 300px;
    vertical-align: middle;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;

    background: black;

    border: 1px solid #fff;
    border-radius: 6px;
}
.signupvisable
{
    display: inline-block;
}

.inputsection
{
    width: 100%;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;

    color: #fff;
}

.inputtext
{
    float: left;
    width: 100%;
}

.signupinput
{
    width: 100%;
    float: right;

    margin-bottom: 8px;

    font-size: 16px;
}

.submitsection
{
    width: 100%;
}

.signupbutton
{
    width: 100%;

    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;

    font-size: 18px;
    font-weight: 100;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.signupbutton:hover
{
    background: #162896;
    color: #fff;
}

.signuperror
{
    display: block;
    float: left;
    width: 100%;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;

    text-align: left;
    color: #888;
}

/*/////////////////////////////////////////////////////////*/
/*Info*/
/*/////////////////////////////////////////////////////////*/

.info
{
    background: #000;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 70px;
}

.infosection
{
    position: relative;
    min-height: 1px;
    padding: 0 25px;
    text-align: center;
}
@media (min-width: 768px)
{
    .infosection
       {
        float: left;
        width: 33.33333333%;
    }
}

.infotitle
{
    margin-bottom: 5px;
    margin-top: 25px;
    line-height: 1.1;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: #fff;
    text-transform: uppercase;
}

.infotext
{
    text-align: justify;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 13px;

    color: #fff;
}

/*/////////////////////////////////////////////////////////*/
/*Home*/
/*/////////////////////////////////////////////////////////*/

.about
{
    position: relative;
    overflow: hidden;
    min-height: 100%;

    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 90px;

    background-image: url(../img/wall.jpg);
    text-align: center;
}
@media (min-width: 768px)
{
    .about
    {
        padding-right: 155px;
        padding-left: 155px;
    }
}

.aboutsection
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: white;
}

.aboutcontainer
{
    position: relative;
    min-height: 1px;
}
@media (min-width: 768px)
{
    .aboutcontainer
    {
        float: left;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px)
{
    .abouthalfcontainer
       {
        width: 50%;
        position: relative;
        float: left;
    }
}

.aboutsectionleft
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: white;
}
@media (min-width: 768px)
{
    .aboutsectionleft
    {
        position: relative;
        float: left;
        height: 100%;
        margin-right: 20px;
    }
}

.aboutsectionright
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: white;
}
@media (min-width: 768px)
{
    .aboutsectionright
       {
        position: relative;
        float: left;
        height: 100%;
        margin-left: 20px;
    }
}

.abouttitle
{
    line-height: 1.1;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    text-align: left;
    color: white;
    background: black;
}

.abouttext
{
    text-align: left;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 15px;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: black;
}

/*/////////////////////////////////////////////////////////*/
/*Profile*/
/*/////////////////////////////////////////////////////////*/

.profile
{
    position: relative;
    overflow: hidden;
    min-height: 100%;

    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 90px;

    background-image: url(../img/wall.jpg);
}
@media (min-width: 768px)
{
    .profile
    {
        padding-right: 80px;
        padding-left: 80px;
    }
}
@media (min-width: 1068px)
{
    .profile
    {
        padding-right: 280px;
        padding-left: 280px;
    }
}

.profilesection
{
    height: 100%;

    padding-bottom: 10px;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: white;
}

.profiletitle
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    text-align: left;
    color: white;
    background: black;
}

.profilecontents
{
    margin-left: 12px;
    margin-right: 12px;
}

.profiletext
{
    display: block;

    text-align: justify;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;

    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;

    color: black;
}

.profileedittext
{
    display: block;

    text-align: justify;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;

    margin-bottom: px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;

    color: black;
}

.profileerror
{
    color: red;
    font-style: italic;
}

.profilelisttext
{
    display: block;

    text-align: justify;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;

    margin-bottom: 2px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;

    color: black;
}

.profileinput
{
    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.profileselecthidden
{
    display: none;
}

.profiletextarea
{
    height: 100px;
    width: 100%;

    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.profilelist
{
    float: left;
    min-width: 150px;

    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.profilelistnofloat
{
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.profilecheckbox
{
    transform: scale(1.2);
    margin-left: 3px;
    margin-bottom: 8px;
}

.profilecheckboxsmall
{
    transform: scale(1);
    margin-left: 5px;
    margin-bottom: 8px;
}

.profilecheckboxlabel
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;

    margin-left: 3px;
    margin-bottom: 1px;
    margin-right: 8px;

    color: black;
}

.profileemaillabel
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 15px;

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    margin-right: 8px;

    color: black;
}

.profileupdatebutton
{
    display: block;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: 0px;
    margin-top: 3px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #888;

    font-size: 20px;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profileupdatebutton:hover
{
    color: #fff;
    border-color: #fff;
}

.profileeditbutton
{
    display: block;
    width: 200px;
    text-align: center;
    float: right;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: 0px;
    margin-top: 0px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #888;

    font-size: 20px;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profileeditbutton:hover
{
    color: #fff;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.sendmessageform
{
    display: inline-block;
    float: right;
}

.sendnewmessagebutton
{
    display: block;
    width: 200px;
    text-align: center;
    float: right;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: 0px;
    margin-top: 0px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #888;

    font-size: 20px;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sendnewmessagebutton:hover
{
    color: #fff;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

/*/////////////////////////////////////////////////////////*/
/*Pics*/
/*/////////////////////////////////////////////////////////*/

.profilepics
{
    display: block;
    height: 200px;
    width: 100%;

    margin-right: 0px;
    margin-top: 6px;
    margin-bottom: 15px;

    padding-right: 0px;
    padding-left: 0px;
}

.profilepic
{
    height: 200px;
    width: auto;

    margin-right: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.profilepiccontainer
{
    float: left;
    display: inline-block;
    width: auto;
    min-width: 200px;
    text-align:center;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;

    padding-right: 0px;
    padding-left: 0px;
}

.profilepicupdatebutton
{
    display: inline-block;
    text-align: center;

    width: 60%;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 3px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #aaa;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profilepicupdatebutton:hover
{
    color: #fff;
    border-color: #fff;
}

.gamepicupdatebutton
{
    display: inline-block;
    text-align: center;

    width: 80%;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 3px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #aaa;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gamepicupdatebutton:hover
{
    color: #fff;
    border-color: #fff;
}

.emailconfirmationcheckboxarea
{
	margin: 3px 0px 0px 10px;
}

/*/////////////////////////////////////////////////////////*/
/*Availability Table*/
/*/////////////////////////////////////////////////////////*/

.profileavailability
{
    width: 100%;
    max-width: 500px;
    table-layout: fixed;

    border: 3px solid black;
    border-radius: 6px;
    border-spacing: 0;
    border-collapse: separate !important;

    white-space: nowrap;

    color: black;

    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

tr
{
    border: 1px solid black;
    color: black;
    min-width: 10px;

    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
}

th
{
    border: 1px solid black;

    min-width: 10px;

    color: #aaa;
    background-color: black;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

td
{
    border: 1px solid black;
    color: black;

    text-align: center;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.headcol
{
    min-width: 20px;
    max-width: 40px;
    width: 20%;

    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.profileavailabilitycheckbox
{
    transform: scale(1.5);
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.topleft
{
	background-color: black;
}

.greybox
{
    background-color: darkgray;
}

.greenbox
{
    background-color: green;
}

/*/////////////////////////////////////////////////////////*/
/*Search*/
/*/////////////////////////////////////////////////////////*/

.playersearch
{
    min-height: 100%;
    height: auto;

    overflow-y: hidden;
    text-align: center;

    margin-top: 90px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    background-image: url(../img/wall.jpg);
}
@media (min-width: 768px)
{
    .playersearch
    {
        padding-right: 155px;
        padding-left: 155px;
    }
}

.playersheader
{
    position: relative;
    height: auto;
    overflow: hidden;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    color: white;
    background: black;
}

.playerstitletext
{
    line-height: 1.1;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.playerssection
{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    min-height: 30px;
    overflow-y: hidden;

    margin-top: -6px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: white;
}

.criteriacontainer
{
    float: left;
    display: block;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #888;
}

.criteriabutton
{
    float: left;
    display: block;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-weight: 600;
    font-size: 15px;
    color: #888;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.criteriabutton:hover
{
    text-decoration: none;
    background-color: #eee;
    color: #fff;
    background-color: transparent;
}

.playercriteriacontainer
{
    display: inline-block;
    width: 100%;
}

.playercriteria
{
    display: inline-block;
    min-width: 150px;
    float: left;
    overflow: hidden;

    min-height: 120px;

    border-radius: 4px;

    padding-bottom: 0px;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 5px;

    background: white;
}

.profilecriteriainput
{
    line-height: 1.5;
    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.playercriteriatitle
{
    display: block;

    padding: 1px 6px 2px 5px;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;

    margin-bottom: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    box-shadow: 1px 1px 1px rgba(5, 5, 5, 0.75);

    color: #aaa;
    background: black;
}

.playercriteriatitletext
{
    display: inline-block;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;

    position: relative;
    bottom: 1px;

    color: #aaa;
}

.playercriteriaheadertext
{
    display: block;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: underline;

    position: relative;
    bottom: 1px;

    color: black;
}

.playercriteriaoptions
{
    display: inline-block;
    height: 110px;
    overflow: hidden;

    text-align: left;
    min-width: 150px;

    float: left;

    border-radius: 4px;
    border-style: solid;
    border-width: 0px;
    border-color: white;

    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;

    background: white;
}
.criteriaoptionsgrey
{
    background: #aaa;
}
.criteriainvisable
{
    display: none;
}

.criteriacheckoption
{
    float: left;
    display: inline-block;
    min-width: 280px;
}

.playercriteriaheadercheckbox
{
    transform: scale(1.2);
    margin-left: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
    position: relative;
    bottom: 0px;
}

.playercriteriacheckbox
{
    transform: scale(1);
    margin-left: 0px;
    margin-bottom: 1px;
}

.playercriterialabel
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 12px;

    padding: 0px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 4px;

    vertical-align: top;
    color: black;
}

.searchavailabilitytable
{
    margin-bottom: 0px;
    padding-bottom: 0px;

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
}

.searchavailabilityheadcol
{
    min-width: 20px;
    max-width: 40px;
    width: 20%;

    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;

    background: black;
}

.playersearchbutton
{
    display: block;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #888;

    font-size: 20px;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.playersearchbutton:hover
{
    color: #fff;
    border-color: #fff;
}

.profilebox
{
    display: inline-block;
    overflow: hidden;

    min-height: 200px;
    min-width: 200px;
    width: 200px;
    height: 200px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    border: solid 5px black;
    border-radius: 5px;

    background-color: white;
}

.profileresulttitle
{
    display:inline-block;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;
    min-width: 100%;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;

    color: white;
    background: black;
}

.profileresultpiccontainer
{
    display: block;
}

.profileresultpic
{
	display: block;
}

.nogamepic
{
	display: block;
	width: 165px;
	height: auto;
    vertical-align: middle;
}

.playerresulttext
{
    display: block;

    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;

    margin-top: 5px;

    color: black;
}

.profilehiddenbutton
{
	display: none;
}

/*/////////////////////////////////////////////////////////*/
/*Messages*/
/*/////////////////////////////////////////////////////////*/

.messages
{
    position: relative;
    overflow: hidden;
	height: 100%;

    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 90px;

    background-image: url(../img/wall.jpg);
    text-align: center;
}
@media (min-width: 668px)
{
    .messages
       {
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media (min-width: 968px)
{
    .messages
       {
        padding-right: 200px;
        padding-left: 200px;
    }
}
@media (max-width: 968px)
{
    .mobilenegatescroll
       {
        overflow: hidden;
    }
}

.messagessection
{
    height: 90%;

    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;

    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(5, 5, 5, 0.75);

    background: black;
}

.messagesectiontitle
{
    line-height: 1.1;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 16px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    text-align: left;
    color: white;
    background: black;
}

.messagelist
{
    display: inline-block;
    float: left;
    height: 100%;
    overflow-y: auto;

    background: black;

    padding-right: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}
@media (max-width: 750px)
{
    .messagelist
       {
        width: 100%;
    }
}

.messagecontent
{
    height: 100%;
    overflow: auto;

    background: white;
    color: red;

    padding: 5px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;

    border-style: solid;
    border-color: #888;
    border-radius: 3px;
    border-width: 1px;
}
@media (max-width: 750px)
{
    .messagecontent
      {
        position: fixed;
        top: 10px;
        right: 3%;

		z-index: 2000;
		
        float: left;

        width: 90%;
        height: auto;
		max-height: 95%;
		overflow: auto;
		margin-bottom: 50px;
    }
}

.messageitem
{
    width: 300px;
    background: #BBB;
    color: black;

    text-align: left;

    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 3px;

    border-style: solid;
    border-color: #888;
    border-radius: 3px;
    border-width: 1px;
}
@media (max-width: 750px)
{
    .messageitem
       {
        width: 99%;
    }
}

.newmessageitem
{
    width: 300px;
    background: white;
    color: black;

    text-align: left;

    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 3px;

    border-style: solid;
    border-color: #888;
    border-radius: 3px;
    border-width: 1px;
}
@media (max-width: 750px)
{
    .newmessageitem
       {
        width: 99%;
    }
}

.messagetext
{
    text-align: left;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 15px;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    color: black;

    height: auto;
    overflow: auto;
    /*resize: none;*/
}
@media (max-width: 750px)
{
    .messagetext
       {
        
        width: 100%;
    }
}

.nomessagetext
{
    display: block;
}
@media (max-width: 750px)
{
    .nomessagetext
       {
        display: none;
    }
}

.replyheader
{
    display: none;
    height: 30px;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;

    padding-right: 4px;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 4px;

    border-radius: 6px;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

    text-align: left;
    color: white;
    background: black;
}
@media (max-width: 750px)
{
    .replyheader
       {
        display: inline-block;
        width: 100%;
    }
}

.closemessagebutton
{
    display: none;
    float: left;
    text-align: center;

    width: 50px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: darkred;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.closemessagebutton:hover
{
    color: red;
}
@media (max-width: 750px)
{
    .closemessagebutton
       {
        display: inline;
        float: right;
    }
}

.messageitemtext
{
    display: inline-block;

    text-align: left;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;

    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    color: black;
}

.messageitemdate
{
    display: inline-block;
    float: right;

    text-align: right;
    line-height: 1.42857143;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 15px;

    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    color: #666;
}

.currentmessage
{
    background: black;
    color: white;
}

.nonvisiblereplyinput
{
    display: none;
}

.replymessage
{
    display: block;
    overflow: auto;
    top: 60px;
    right: 70px;

    width: 100%;
    height: auto;

    background: white;
    color: black;

    padding-right: 10px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 0px;

    border-style: solid;
    border-color: #888;
    border-radius: 3px;
    border-width: 0px;
}

.replytextarea
{
    display: inline-block;
    height: 100px;
    width: 100%;
    resize: none;

    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.sendmessagebutton
{
    display: inline-block;
    float: left;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: 0px;
    margin-top: 0px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;

    background-color: black;
    color: #888;

    font-size: 20px;

    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sendmessagebutton:hover
{
    color: #fff;
    border-color: #fff;
}

/*/////////////////////////////////////////////////////////*/
/*Footer*/
/*/////////////////////////////////////////////////////////*/

.footer
{
    position: relative;
    overflow: hidden;
    height: 50px;

    background: #000;

    border-top: 1px solid #444;
}

.footercontainer
{
    line-height: 50px;

    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #fff;
}

.footerleft
{
    float: left !important;
}

.footerright
{
    float: right !important;
}

/*/////////////////////////////////////////////////////////*/
/*Other*/
/*/////////////////////////////////////////////////////////*/

.emailinput
{
    display: none;
}

.loader
{
    text-align: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 50px auto 50px auto;
}
@-webkit-keyframes spin
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*/////////////////////////////////////////////////////////*/
/*PHP Debugging*/
/*/////////////////////////////////////////////////////////*/
.phperror
{
    /*
    <div class="phperror">!!!<?php echo $_SESSION['']?>!!!</div>
    */
    display: block;

    padding-top: 100px;
    margin-bottom: 0px;

    background: red;
    color: black;
}
